# 4.13.2024

# 파이썬에서 sql 연결하기 (이어서2)

In [2]:
import pymysql

con = pymysql.connect(
    
    user = 'root', # user: 사용자 명
    password = '0000', # 비밀번호
    host = '127.0.0.1', # 허용 접속 IP(일반적으로 localhost 127.0.0.1이다.)
    db ='shop', # db: 사용할 데이터베이스
    charset = 'utf8' # 인코딩 방법
)

mycursor = con.cursor() # cursor() 메서드를 통해 데이터베이스의 커서 객체를 가져온다.

In [3]:
# 이제 shop 데이터베이스 중 goods 테이블을 가져와 보자.

# 실행하고자 하는 쿼리를 입력하며, goods 테이블의 모든 데이터를 가져오는 쿼리를 입력한다.
query = """
    select * from goods;
"""
# execute() 메서드를 이용해서 SQL 쿼리를 데이터베이스 서버에 보낸다.
mycursor.execute(query)

# fetchall(), fetchone(), fetchmany() 등의 메서드를 사용하여 서버로부터 데이터를 가져온다.

# (1) fetchall(): 테이블 안의 모든 데이터를 추출
# (2) fetchone(): 테이블 안의 데이터를 한 행씩 추출
# (3) fetchmany(size = n): 테이블 안의 데이터 중 n개의 행을 추출

data = mycursor.fetchall() # (1) fetchall(): 테이블 안의 모든 데이터를 추출

con.close() # 원하는 작업을 마친 후에는 반드시 close() 메서드를 통해 데이터베이스와의 연결을 종료해야 한다.

display(data)

(('0001', '티셔츠', '의류', 1000, 500, datetime.date(2020, 9, 20)),
 ('0002', '펀칭기', '사무용품', 500, 320, datetime.date(2020, 9, 11)),
 ('0003', '와이셔츠', '의류', 4000, 2800, None),
 ('0004', '식칼', '주방용품', 3000, 2800, datetime.date(2020, 9, 20)),
 ('0005', '압력솥', '주방용품', 6800, 5000, datetime.date(2020, 1, 25)),
 ('0006', '포크', '주방용품', 500, None, datetime.date(2020, 9, 20)),
 ('0007', '도마', '주방용품', 880, 790, datetime.date(2020, 4, 28)),
 ('0008', '볼펜', '주방용품', 100, None, datetime.date(2020, 11, 11)),
 ('0009', '스테이플러', '사무용품', 2000, 1500, datetime.date(2020, 12, 30)))

In [3]:
# 데이터를 불러오는 것뿐만 아니라 데이터를 입력, 수정, 삭제할 수도 있다.

con =pymysql.connect(user = 'root',
                     passwd = '0000',
                     host ='127.0.0.1',
                     db ='shop',
                     charset = 'utf8')

mycursor = con.cursor()

query = """insert into goods (goods_id, goods_name, goods_classify, sell_price, buy_price, register_date)
values ('0009', '스테이플러', '사무용품', '2000', '1500', '2020-12-30');"""

mycursor.execute(query)
con.commit()
con.close()

IntegrityError: (1062, "Duplicate entry '0009' for key 'goods.PRIMARY'")

# 6.2 pandas를 이용한 데이터 읽기 및 쓰기

In [3]:
# !pip install SQLAlchemy==1.4.22

import pandas as pd
from sqlalchemy import create_engine


# Object Relation Mapping이란 응용 프로그램과 데이터베이스를 연결할 때 SQL 언어가 아닌 응용 프로그램 개발 언어로 데이터베이스를 접근할 수 있게 해주는 툴이다.

# engine = create_engine('mysql+pymysql://[사용자 명]:[비밀번호]@[호스트:포트]/[사용할 데이터베이스]')


engine = create_engine('mysql+pymysql://root:0000@127.0.0.1:3306/shop')
query = """select * from Goods"""
goods = pd.read_sql(query, con=engine)
engine.dispose()

goods.head()

  goods_id goods_name goods_classify  sell_price  buy_price register_date
0     0001        티셔츠             의류        1000      500.0    2020-09-20
1     0002        펀칭기           사무용품         500      320.0    2020-09-11
2     0003       와이셔츠             의류        4000     2800.0          None
3     0004         식칼           주방용품        3000     2800.0    2020-09-20
4     0005        압력솥           주방용품        6800     5000.0    2020-01-25

In [10]:
import seaborn as sns

iris = sns.load_dataset('iris')
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [11]:
from sqlalchemy import create_engine

engine = create_engine('mysql+pymysql://root:0000@127.0.0.1:3306/shop')
iris.to_sql(name = 'iris', con=engine, index = False, if_exists = 'replace')
engine.dispose()

# 6.3 upsert 기능 구현하기

In [1]:
# 퀀트 투자에 사용할 시계열 데이터는 크게 투 가지 특성을 가짐

## 1. inser: 시간이 지남에 따라 데이터에 추가된다.

## 2. update: 간혹 과거 데이터가 수정된다.

In [2]:
# exam 데이터 베이스에 저장할 샘플 시계열 데이터를 만들기

from sqlalchemy_utils import create_database

create_database('mysql+pymysql://root:0000@127.0.0.1:3306/exam')

In [4]:
price = pd.DataFrame({
    
    "날짜": ['2021-01-02','2021-01-03'],
    "티커": ['000001','000001'],
    "종가": [1340, 1315],
    "거래량": [1000, 2000]
})

price.head()

           날짜      티커    종가   거래량
0  2021-01-02  000001  1340  1000
1  2021-01-03  000001  1315  2000

In [9]:
engine = create_engine('mysql+pymysql://root:0000@127.0.0.1:3306/exam')
price.to_sql('price', con = engine, if_exists='append', index=False)

data_sql = pd.read_sql('price', con =engine)
engine.dispose()

# to_sql() 함수의 인자로 if_exists='append'를 입력하면, 테이블이 존재할 경우 기존 테이블에 데이터를 추가한다. 이제 하루가 지나 시계열 추가 되었다고 가정한다.

In [13]:
new = pd.DataFrame({
    "날짜": ['2021-01-04'],
    "티커": ['000001'],
    "종가":[1320],
    "거래량": [1500]
})

price = pd.concat([price, new])

price.head()

           날짜      티커    종가   거래량
0  2021-01-02  000001  1340  1000
1  2021-01-03  000001  1315  2000
0  2021-01-04  000001  1320  1500
0  2021-01-04  000001  1320  1500

In [15]:
# 해당 데이터를 동일한 방법으로 데이터베이스에 저장해 보자.

engine = create_engine('mysql+pymysql://root:0000@127.0.0.1:3306/exam')

price.to_sql('price', con=engine, if_exists = 'append', index =False)

data_sql = pd.read_sql('price', con=engine)

engine.dispose()

# 단순히 데이터를 추가하면 2021-01-02dhk 2021-01-03에 해당하는 데이터가 중복으로 들어감

In [16]:
# upsert 구현

# insert into @table
# (arg1, arg2, arg3)
# values
# (arg1, @arg2, @arg3)
# on duplicate key update (key를 제외한 update할 컬럼들 나열)
# arg2 = @arg2, arg3 = @arg3

In [ ]:
# MySQL Workbench에 다음 쿼리를 입력하여 price_2 table을 만든다.

# use exam;
# CREATE TABLE price_2(
    # 날짜 varchar(10),
    # 티커 varchar(6),
    # 종가 int.
    # 거래량 int,
    # PRIMARY KEY(날짜, 티커)
#);

## 이하 생략..

### 6.3.2 파이썬에 upsert 기능 구현하기

In [17]:
price = pd.DataFrame({
    
    "날짜":['2021-01-04', '2021-01-04'],
    "티커": ['000001','000002'],
    "종가": [1320, 1315],
    "거래량": [2100,1500]
})

args = price.values.tolist()
args

[['2021-01-04', '000001', 1320, 2100], ['2021-01-04', '000002', 1315, 1500]]

In [19]:
import pymysql

con = pymysql.connect(user = 'root',
                      passwd='0000',
                      host ='127.0.0.1',
                      db = 'exam',
                      charset ='utf8') # exam 데이터베이스에 접속한다.

# upsert 기능을 구현하는 쿼리를 입력하며, values 부분에는 입력하는 데이터의 열 개수만큼 '%s'를 입력한다.

query = """
    insert into price_2 (날짜, 티커, 종가, 거래량)
    values (%s, %s, %s, %s) as new
    on duplicate key update
    종가 = new.종가, 거래량 = new.거래량;
"""

mycursor = con.cursor() # cursor() 메서드를 통해 데이터베이스의 커서 객체를 가져온다.
mycursor.executemany(query, args) # execute() 메서드를 사용하여 SQL 쿼리를 데이터베이스 서버에 보낸다. 즉 %s 부분에 리스트로 만든 데이터가 입력되어 데이터베이스 서버에 전송된다.
con.commit() # commit() 메서드를 사용하여 데이터의 확정을 갱신한다.

con.close() # 접속을 종료한다.

In [22]:
# 마지막으로 예제로, 사용했던 데이터베이스 exam은 삭제

con = pymysql.connect(user='root',
                     passwd='0000',
                     host='127.0.0.1',
                     db ='exam',
                     charset='utf8')

query = """

    drop database exam;

"""

mycursor = con.cursor()
mycursor.execute(query)
con.commit()

con.close()

# pg.240

### 수정주가 크롤링